{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Restore password' %}
{% endblock %}

{% block content %}

    <div class="row">
        <h1>{% trans 'Restore password' %}</h1>
    </div>
    {{ form.errors }}
    {#         <form class="col s12" method="POST" action="{% url 'password_reset' %}">#}
    <div class="row">
        <div class="col">


            <form method="POST" class="center">
                {%  csrf_token %}
                {% for input in form %}
                    <div class="form-group">
                        <label for="{{ input.name }}">{{ input.label }}</label>
                        {{ input }}
                    </div>
                {% endfor %}

                <div class="row center">

                    <button type="submit" class="col center btn btn-primary ">
                        {% trans 'Change password' %}
                        <i class="fa fa-send"></i>
                    </button>
                </div>
                <br/>
            </form>
        </div>
    </div>
{% endblock %}